@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  user-select: none;
  -webkit-user-drag: none;
}
